#!/bin/bash

API_URL=https://cloud.lambdalabs.com/api/v1
IP_ADDRESS=$(curl -s api.ipify.org)
INSTANCE_ID=$(curl -u ${LAMBDA_CLOUD_API_KEY}: ${API_URL}/instances | jq --arg ip $IP_ADDRESS '.data[].ip = $ip | .data[0].id')
mkdir {{ file_system_mount_point }}/${INSTANCE_ID}
cp -b {{ output_file }} {{ file_system_mount_point }}/${INSTANCE_ID}
curl -u ${LAMBDA_CLOUD_API_KEY}: ${API_URL}/instance-operations/terminate --data "{\"instance_ids\":[${INSTANCE_ID}]}"
